<!DOCTYPE html>
<html>
<head>
    <title>News Card 
</title>

<link rel="stylesheet" type="text/css" href="static/css/style32.css">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <h1 align=center class="elegantshadow" ><em><b>Online News Stand</b></em></h1>
      <p class="script"><span>Pick Your Category</span></p>
    <section>
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="post-image">
                            <img src="static/img/India.jpg" class="img-responsive">
                            </div>
                            <div class="news-content">
                                <span class="category">Nation</span>
                            <div class="post-meta">
                                
                                <span class="time">
                                    
                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                         August 1, 2019
                                    
                                </span>
                               
                                
                                <div>
                                    <h2 class="post-header"><a href="{{ url_for('Nation') }}">Today's summaries to keep you uptodate</a></h2>
                                    
                                </div>
                            </div>    
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="post-image">
                            <img src="static/img/news.png" class="img-responsive">
                            </div>
                            <div class="news-content">
                                <span class="category">News</span>
                            <div class="post-meta">
                                
                                <span class="time">
                                    <a href="#">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                         August 1, 2019
                                    </a>
                                </span>
                               
                                
                                <div>
                                    <h2 class="post-header"><a href="{{ url_for('News') }}">Today's summaries to keep you uptodate</a></h2>
                                    
                                </div>
                            </div>    
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="post-image">
                            <img src="static/img/entertainment.jpg" class="img-responsive">
                            </div>
                            <div class="news-content">
                                <span class="category">Entertainment</span>
                            <div class="post-meta">
                                
                                <span class="time">
                                    <a href="#">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                         August 1, 2019
                                    </a>
                                </span>
                               
                                
                                <div>
                                    <h2 class="post-header"><a href="{{ url_for('Entertainment') }}">Today's summaries to keep you uptodate</a></h2>
                                    
                                </div>
                            </div>    
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="post-image">
                            <img src="static/img/business.png" class="img-responsive">
                            </div>
                            <div class="news-content">
                                <span class="category">Business</span>
                            <div class="post-meta">
                                
                                <span class="time">
                                    <a href="#">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                         August 1, 2019
                                    </a>
                                </span>
                               
                                
                                <div>
                                    <h2 class="post-header"><a href="{{ url_for('Business') }}">Today's summaries to keep you uptodate</a></h2>
                                    
                                </div>
                            </div>    
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="post-image">
                            <img src="static/img/sports.png" class="img-responsive">
                            </div>
                            <div class="news-content">
                                <span class="category">Sports</span>
                            <div class="post-meta">
                                
                                <span class="time">
                                    <a href="#">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                         August 1, 2019
                                    </a>
                                </span>
                               
                                <div class="clearfix"></div>
                                <div>
                                    <h2 class="post-header"><a href="{{ url_for('Sports') }}">Today's summaries to keep you uptodate</a></h2>
                                    
                                </div>
                            </div>    
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="post-image">
                            <img src="static/img/opinion.png" class="img-responsive">
                            </div>
                            <div class="news-content">
                                <span class="category">Opinion</span>
                            <div class="post-meta">
                                
                                <span class="time">
                                    <a href="#">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                         August 1, 2019
                                    </a>
                                </span>
                               
                                <div class="clearfix"></div>
                                <div>
                                    <h2 class="post-header"><a href="{{ url_for('Opinion') }}">Today's summaries to keep you uptodate</a></h2>
                                    
                                </div>
                            </div>    
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="post-image">
                            <img src="static/img/world.png" class="img-responsive">
                            </div>
                            <div class="news-content">
                                <span class="category">World</span>
                            <div class="post-meta">
                                
                                <span class="time">
                                    <a href="#">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                         August 1, 2019
                                    </a>
                                </span>
                               
                                <div class="clearfix"></div>
                                <div>
                                    <h2 class="post-header"><a href="{{ url_for('World') }}">Today's summaries to keep you uptodate</a></h2>
                                    
                                </div>
                            </div>    
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="post-image">
                            <img src="static/img/technology.jpg" class="img-responsive">
                            </div>
                            <div class="news-content">
                                <span class="category">Technology</span>
                            <div class="post-meta">
                                
                                <span class="time">
                                    <a href="#">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                         August 1, 2019
                                    </a>
                                </span>
                               
                                <div class="clearfix"></div>
                                <div>
                                    <h2 class="post-header"><a href="{{ url_for('Technology') }}">Today's summaries to keep you uptodate</a></h2>
                                    
                                </div>
                            </div>    
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="post-image">
                            <img src="static/img/lifestyle.png" class="img-responsive">
                            </div>
                            <div class="news-content">
                                <span class="category">Lifestyle</span>
                            <div class="post-meta">
                                
                                <span class="time">
                                    <a href="#">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                         August 1, 2019
                                    </a>
                                </span>
                               
                                <div class="clearfix"></div>
                                <div>
                                    <h2 class="post-header"><a href="{{ url_for('Lifestyle') }}">Today's summaries to keep you uptodate</a></h2>
                                    
                                </div>
                            </div>    
                            </div>
                        </div>
                    </div>
                </div>
                  
                </div>
            </div>
        </div>
    </section>
</body>
</html>
                    