<!DOCTYPE html>
<html>
<head>
    <title>News Card 
</title>
<style>
    h1 { color: #FF0000; }
</style>
<link rel="stylesheet" type="text/css" href="static/css/style3.css">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <h1 align=center class="large-font" style="color:MediumSeaGreen;"><b>Online News Stand</b></h1>
    <section>
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="post-image">
                            <img src="static/img/deccanchronical.jpg" class="img-responsive">
                            </div>
                            <div class="news-content">
                                <span class="category">DECCAN CHRONICLE</span>
                            <div class="post-meta">
                                
                                <span class="time">
                                    
                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                         JULY 30, 2019
                                    
                                </span>
                               
                                
                                <div>
                                    <h2 class="post-header"><a href="{{ url_for('decann') }}">Today's Summaries to keep you up to-date </a></h2>
                                    
                                </div>
                            </div>    
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="post-image">
                            <img src="static/img/financial express.jpg" class="img-responsive">
                            </div>
                            <div class="news-content">
                                <span class="category">FINANCIAL EXPRESS</span>
                            <div class="post-meta">
                                
                                <span class="time">
                                    <a href="#">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                         JULY 30, 2019
                                    </a>
                                </span>
                               
                                
                                <div>
                                    <h2 class="post-header">Today's summaries to keep you uptodate</h2>
                                    
                                </div>
                            </div>    
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="post-image">
                            <img src="static/img/hindu.jpg" class="img-responsive">
                            </div>
                            <div class="news-content">
                                <span class="category">THE HINDU</span>
                            <div class="post-meta">
                                
                                <span class="time">
                                    <a href="#">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                         JULY 30, 2019
                                    </a>
                                </span>
                               
                                
                                <div>
                                    <h2 class="post-header">Today's summaries to keep you uptodate</h2>
                                    
                                </div>
                            </div>    
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="post-image">
                            <img src="static/img/ht.jpg" class="img-responsive">
                            </div>
                            <div class="news-content">
                                <span class="category">HINDUSTAN TIMES</span>
                            <div class="post-meta">
                                
                                <span class="time">
                                    <a href="#">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                         JULY 30, 2019
                                    </a>
                                </span>
                               
                                
                                <div>
                                    <h2 class="post-header">Today's summaries to keep you uptodate</h2>
                                    
                                </div>
                            </div>    
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="post-image">
                            <img src="static/img/indianexpress.jpg" class="img-responsive">
                            </div>
                            <div class="news-content">
                                <span class="category">THE INDIAN EXPRESS</span>
                            <div class="post-meta">
                                
                                <span class="time">
                                    <a href="#">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                         JULY 30, 2019
                                    </a>
                                </span>
                               
                                <div class="clearfix"></div>
                                <div>
                                    <h2 class="post-header">Today's summaries to keep you uptodate</h2>
                                    
                                </div>
                            </div>    
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="post-image">
                            <img src="static/img/indiatoday.jpg" class="img-responsive">
                            </div>
                            <div class="news-content">
                                <span class="category">THE INDIA TODAY</span>
                            <div class="post-meta">
                                
                                <span class="time">
                                    <a href="#">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                         JULY 30, 2019
                                    </a>
                                </span>
                               
                                <div class="clearfix"></div>
                                <div>
                                    <h2 class="post-header">Today's summaries to keep you uptodate</h2>
                                    
                                </div>
                            </div>    
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="post-image">
                            <img src="static/img/ndtv.jpg" class="img-responsive">
                            </div>
                            <div class="news-content">
                                <span class="category">NDTV INDIA</span>
                            <div class="post-meta">
                                
                                <span class="time">
                                    <a href="#">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                         JULY 30, 2019
                                    </a>
                                </span>
                               
                                <div class="clearfix"></div>
                                <div>
                                    <h2 class="post-header">Today's summaries to keep you uptodate</h2>
                                    
                                </div>
                            </div>    
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="post-image">
                            <img src="static/img/scroll.jpg" class="img-responsive">
                            </div>
                            <div class="news-content">
                                <span class="category">SCROLL</span>
                            <div class="post-meta">
                                
                                <span class="time">
                                    <a href="#">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                         JULY 30, 2019
                                    </a>
                                </span>
                               
                                <div class="clearfix"></div>
                                <div>
                                    <h2 class="post-header">Today's summaries to keep you uptodate</h2>
                                    
                                </div>
                            </div>    
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="post-image">
                            <img src="static/img/timesofindia.jpg" class="img-responsive">
                            </div>
                            <div class="news-content">
                                <span class="category">THE TIMES OF INDIA</span>
                            <div class="post-meta">
                                
                                <span class="time">
                                    <a href="#">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                         JULY 30, 2019
                                    </a>
                                </span>
                               
                                <div class="clearfix"></div>
                                <div>
                                    <h2 class="post-header">Today's summaries to keep you uptodate</h2>
                                    
                                </div>
                            </div>    
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">   
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="post-image">
                            <img src="static/img/zeenews.jpg" class="img-responsive">
                            </div>
                            <div class="news-content">
                                <span class="category">ZEE NEWS</span>
                            <div class="post-meta">
                                
                                <span class="time">
                                    <a href="#">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                         JULY 30, 2019
                                    </a>
                                </span>
                               
                                <div class="clearfix"></div>
                                <div>
                                    <h2 class="post-header">Today's summaries to keep you uptodate</h2>
                                    
                                </div>
                            </div>    
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="post-image">
                            <img src="static/img/image11.jpg" class="img-responsive">
                            </div>
                            <div class="news-content">
                                <span class="category">THE INDIA TODAY</span>
                            <div class="post-meta">
                                
                                <span class="time">
                                    <a href="#">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                         JULY 30, 2019
                                    </a>
                                </span>
                               
                                <div class="clearfix"></div>
                                <div>
                                    <h2 class="post-header">Today's summaries to keep you uptodate</h2>
                                    
                                </div>
                            </div>    
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="post-image">
                            <img src="static/img/image12.jpg" class="img-responsive">
                            </div>
                            <div class="news-content">
                                <span class="category">THE INDIA TODAY</span>
                            <div class="post-meta">
                                
                                <span class="time">
                                    <a href="#">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                         JULY 30, 2019
                                    </a>
                                </span>
                               
                                <div class="clearfix"></div>
                                <div>
                                    <h2 class="post-header">Today's summaries to keep you uptodate</h2>
                                    
                                </div>
                            </div>    
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="post-image">
                            <img src="static/img/image13.jpg" class="img-responsive">
                            </div>
                            <div class="news-content">
                                <span class="category">THE INDIA TODAY</span>
                            <div class="post-meta">
                                
                                <span class="time">
                                    <a href="#">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                         JULY 30, 2019
                                    </a>
                                </span>
                               
                                <div class="clearfix"></div>
                                <div>
                                    <h2 class="post-header">Today's summaries to keep you uptodate</h2>
                                    
                                </div>
                            </div>    
                            </div>
                        </div>
                    </div>
                </div>   
                </div>
            </div>
        </div>
    </section>
</body>
</html>
                    